# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/

# Android
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
*.apk
*.aab

# iOS
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/DerivedData/
